<script type="text/html" data-type="template" data-templatename="encounterDetailedTemplate">
    <div id="main">
        <div class="tileLarge row" id="home-page-content" style="width: 1238; margin-left: -9px">
        </div>
    </div>
</script>