<script type="text/html" data-type="template" data-templatename="homePageTemplate">
    <div id="main">
        <div class="span16 tileLarge" id="home-page-content">
            <div class="home-page-filter-container">
                <div data-container-key="patientFilter"></div>
                <div data-container-key="scheduleFilter"></div>
            </div>
            <div class="home-page-tabs-content">
                <div class="home-page-content-container" data-container-key="registration"></div>
                <div class="home-page-content-container" data-container-key="filterTabs"></div>
                <div class="home-page-content-container" data-container-key="patientList"></div>
                <div class="home-page-content-container" data-container-key="resourceCalendar"></div>
                <div class="home-page-content-container" data-container-key="schedule"></div>
                <div class="home-page-content-container" data-container-key="mySchedule"></div>
             </div>
        </div>
    </div>
</script>