<script type="text/html" data-type="template" data-templatename="homePageTemplate">
    <div id="main">
        <div class="tileLarge row" id="home-page-content" style="width: 1238; margin-left: -9px">
            <div class="home-page-filter-container">
                <div data-container-key="patientFilter"></div>
                <div data-container-key="scheduleFilter"></div>
            </div>
            <div class="home-page-tabs-content">
                <div class="home-page-content-container" data-container-key="registration"></div>
                <div class="home-page-content-container" data-container-key="filterTabs"></div>
                <div class="home-page-content-container pad-top-20 pad-right-50" data-container-key="patientList">
                    <button class="btn pull-right" id="create-patient-button">Create New Patient</button>
                    <input type="text" id="patient-search" style="width: 500px" class="pull-right pad-right-20"
                        placeholder="Find by patient #/encounter #/patient name"/>
                    <div class="span11 pull-right pad-btm-30" style="min-height: 500px">
                        <hr>
                        <div id="patient-list">
                        </div>
                    </div>
                </div>
                <div class="home-page-content-container" data-container-key="resourceCalendar"></div>
                <div class="home-page-content-container" data-container-key="schedule"></div>
                <div class="home-page-content-container" data-container-key="mySchedule"></div>
             </div>
        </div>
    </div>
</script>