<script type="text/html" data-type="template" data-templatename="newEncounterTemplate">
    <div id="main">
        <div class="tileLarge row" id="new-encounter-screen" style="width: 1238; margin-left: -9px">
            <div class="row pad-btm-10">
                 <div class="span5 pull-right medical-service-code-section">
                      <form class="form-horizontal medical-service-code">
                           <fieldset>
                                <div class="control-group-MSR">
                                     <label class="control-label" id="medical-service-menu-label">Medical Service</label>
                                     <div class="controls">
                                         <select class="span3" id="medical-service-menu"></select>
                                     </div>
                                </div>
                           </fieldset>
                      </form>
                 </div>
            </div>
        </div>
    </div>
</script>