<script type="text/html" data-type="template" data-templatename="newEncounterTemplate">
    <div id="main">
        <div class="tileLarge row" id="home-page-content" style="width: 1238; margin-left: -9px">
            <div class="home-page-filter-container">
                <div data-container-key="patientFilter"></div>
                <div data-container-key="scheduleFilter"></div>
            </div>
            <div class="home-page-tabs-content">
                <div class="home-page-content-container" data-container-key="registration"></div>
                <div class="home-page-content-container" data-container-key="filterTabs"></div>
                <div class="home-page-content-container" data-container-key="patientList">
                    <input type="text" id="patient-search" style="width: 500px" class="pad-top-20 pad-right-50 pull-right"
                        placeholder="Find by patient #/encounter #/patient name"/>
                    <div class="span13 pull-right pad-top-20 pad-right-50" style="min-height: 500px">
                        <hr>
                        <input type="text" id="patient-search" placeholder="Find by patient #/encounter #/patient name"/>
                    </div>

                    <input type="text" id="patient-search" style="width: 500px" class="pad-top-20 pad-right-50 pull-right"
                        placeholder="Find by patient #/encounter #/patient name"/>
                    <div class="span13 pull-right pad-top-20 pad-right-50" style="min-height: 500px">
                        <hr>
                        <input type="text" id="patient-search" placeholder="Find by patient #/encounter #/patient name"/>
                    </div>
                </div>
                <div class="home-page-content-container" data-container-key="resourceCalendar"></div>
                <div class="home-page-content-container" data-container-key="schedule"></div>
                <div class="home-page-content-container" data-container-key="mySchedule"></div>
             </div>
        </div>
    </div>
</script>