<script type="text/html" data-type="template" data-templatename="globalNavTemplate">
        <div class="row pad-top-10 pad-btm-10">
            <div id="global-nav-container">
                <div class = "pull-right global-menu">
                    <div class="btn-group pull-left" id="container_home">
                         <a class = "btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <img src="../resources/admin/icons/home-icon.png" alt="Mountain View" style="width:20px;height:16px">
                         </a>
                    </div>
                    <div class="btn-group pull-left" id="container_logout">
                        <a class = "btn dropdown-toggle" data-toggle="dropdown" href="{{:contextPath}}/j_spring_security_logout" id ="logout"> Log Out </a>
                    </div>
                </div>
            </div>
        </div>
</script>